
@import './assets/scss/_override.scss';
@import './assets/scss/layout/_container.scss';
@import './assets/scss/layout/_sidebar.scss';
@import './assets/scss/layout/_topbar.scss';

@import './assets/scss/components/_VButtons.scss';
@import './assets/scss/components/_VCard.scss';
@import './assets/scss/components/_VField.scss';
@import './assets/scss/components/_VInput.scss';
@import './assets/scss/components/_VNavigationDrawer.scss';
@import './assets/scss/components/_VShadow.scss';
@import './assets/scss/components/_VTextField.scss';
@import './assets/scss/components/_VTabs.scss';

@import './assets/scss/pages/_dashboards.scss';

/* 기존 SKIB-FE의 스타일을 유지하려면 여기에 추가 */
:root {
  --font-size-root: 1rem;
  --border-radius-root: 12px;
  --body-font-family: 'Roboto', sans-serif;
  --heading-font-family: var(--body-font-family);
  --btn-font-weight: 400;
  --btn-letter-spacing: 0;
  --white: #fff;
  --card-item-spacer-xy: 20px 24px;
  --card-text-spacer: 24px;
  --card-title-size: 18px;
  --box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
